{#
/**
 * @file user_agreement.html.twig
 * Default theme implementation to present User agreement data.
 *
 * This template is used when viewing User agreement pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_user_agreement()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('user_agreement') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
